<!DOCTYPE html>  
{% load bootstrap3  %} 
{% load staticfiles %} 
<html lang="en">  
<head>  
    <meta charset="utf-8">  
    <title>劳模榜</title>  
    <meta name="description" content="">  
    <link rel="stylesheet" type="text/css" href="{% static 'ncrePay/bootstrap.min.css' %}" /> 
    <script src="{% static 'ncrePay/Chart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ncrePay/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ncrePay/bootstrap.min.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
    var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [
                {% for item in teaList %}
                "{{item}}",
                {% endfor %}
                ],
                datasets: [{
                    data: {{appList}},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    })
    </script>
</head>
<body>
<div class="container" style="width: 800px height: 600px">
<a href="{% url 'index' %}"><input type="button" class="btn btn-primary navbar-btn pull-right" value="返回" name=""></a>
<h1>劳模榜</h1>
    <canvas id="myChart"></canvas>
</div>
</body>
</html>